<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login/" method="post">
    <center>{{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</body>
</html>