<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>List of downloaded</title>

    <style>
         a.delete {
            color: red;
            font-family: arial, sans-serif;
            font-style: inherit;
            font-variant: full-width;
            text-align: center;
            text-decoration: none
        }

        a {
            color: blue;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<p align = "canter"><h1><a href="/transmission">Torrent-client</a></h1></p>
<table>
{% for tar in tars %}
    <tr>
        <td><a href="{{ tar }}">{{ tar }}</a></td>
        <td width="5%"><a href="/remove/{{ tar }}" class="delete">Delete</a></td>
    </tr>
{% endfor %}
</table>
<p align="right"><a href="https://www.7-zip.org/a/7z1801-x64.exe">7-zip installer</a>
</body>
</html>